        div{
            width: 70%;
            margin: auto;
        }

        h1{
            color: blue;
            border: 3px solid brown;
            position: relative;
            top: 20px;
        }

        h2{
            color: red;
            border: 1px dashed blue;
            margin-bottom: 100px;
        }

        p{
            border: 1px solid black;
            padding: 5px;
        }

        img{
            border: 1px solid black;
            margin: 0px;
        }

        ul li{
            background: chocolate;
        }

        #paragraf{
            font-family: Arial, Helvetica, sans-serif;
        }

        .huruf{
            font-size: 30px;
        }

        .warna{
            background: cornflowerblue;
        }

        .bentuk{
            font-style: italic;
        }

        .huruf-tebal{
            font-style: initial;
        }