*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 150px;
    display: block;
    margin: auto;
}

.header{
    margin: 1%;
}

.nav-left, .nav-right{
    background-color: rgb(252, 215, 215);
}

.nav-left ul,
.nav-right ul{
    list-style: none;
}

.nav-left a,
.nav-right a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
}

.nav-left a:hover{
    background: rgb(255, 102, 102);
}

.nav-right a:hover{
    background: rgb(245, 154, 154);
}

@media screen and (min-width: 560px){
    .header{
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
    }

    .nav-left ul{
        display: flex;
    }
    
    .nav-right ul{
        display: flex;
    }

    .nav-left, 
    .nav-right{
        background: none;
    }

    .nav-left a,
    .nav-right a{
    color: black;
}
}