*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 150px;
    display: block;
    margin: auto;
}

.header{
    margin: 1%;
}

.nav-left, .nav-right{
    background-color: rgb(252, 215, 215);
}

.nav-left ul,
.nav-right ul{
    list-style: none;
}

.nav-left a,
.nav-right a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
}

.nav-left a:hover{
    background: rgb(255, 102, 102);
}

.nav-right a:hover{
    background: rgb(245, 154, 154);
}

@media screen and (min-width: 560px){
    .header{
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
    }

    .nav-left ul{
        display: flex;
    }
    
    .nav-right ul{
        display: flex;
    }

    .nav-left, 
    .nav-right{
        background: none;
    }

    .nav-left a,
    .nav-right a{
    color: black;
    }
}

/* main */

.main{
    margin-top: 20px;
}


.main-left img{
    width: 200px;
    display: block;
    margin: auto;
}

.main-right{
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 560px){
    .main{
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    .main-left img{
        width: 600px;
    }

    .main-right{
        margin: auto;
        text-align: left;
        margin-left: 30px;
    }

    .main-right h2{
        margin-bottom: 10px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }    
}

/* produk */

.display{
    margin-top: 3%;
    text-align: center;
    color: blue;
}

.image img{
    width: 200px;
    display: block;
    margin: auto;
}

.produk-content{
    text-align: center;
    margin: 30px;
}

.deskripsi p{
    font-size: 15px;
    margin-top: 10px;
}

@media(min-width: 560px){
    .produk{
        width: 960px;
        margin: auto;
        display: flex;
    }

    .produk-content{
        height: 300px;
    }

    .image{
        height: 200px;
        width: 200px;
    }

    .display{
        font-size: 30px;
    }
}

/* informasi */

.info{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-content{
    height: 70px;
    width: 180px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}


.icon img{
    width: 70px;
    display: block;
    margin-right: 10px;
}

.info-isi{
    font-size: 15px;
}

@media(min-width: 560px){
    .info{
        width: 960px;
        margin: auto;
        justify-content: space-between;
    }
}

/* medsos */

.medsos {
    margin-bottom: 50px;
}


.medsos-icon img{
    width: 25px;
    margin: 5px;
}

.medsos-icon {
    display: flex;
    justify-content: center;
}

.medsos-isi {
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

.medsos-form {
    height: 50px;
    background: rgb(96, 96, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}

.medsos-form form input {
    width: 200px;
    height: 27px;
    background: rgb(183, 183, 255);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 2px;
}

.medsos-form form input [type="email"] {
    padding: 10px;
}

.medsos-form form button {
    height: 25px;
    padding: 5px;
    text-transform: lowercase;
    background: rgb(183, 183, 255);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (min-width: 560px) {
    .medsos {
        width: 960px;
        margin: auto;
    }
}